<div class="author">
    <h1 class="author_heading">Hi, I am Anubhav. </h1>
    <p class="author_body">Web Developer.</p>

</div>
<img src="./img/author_img.webp" alt="A man sitting on bike" class="hero-image" width="282" height="328">

<section class="articles">
    <h2 class="articles_heading">latest Posts</h2>
    <ul class="article-ul">

        <% data.forEach(post => { %>
          <li>
            <a href="/post/<%= post._id%>">
                <span><%= post.title%></span>
                <span class="article-list_date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
        

    </ul>

   <% if(nextPage!==null){ %> 

    <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>

   <% } %> 

    

</section>